In [ ]:
# day16_realQuiz
# 추천시스템(오늘 연습문제)
# 예상평점 구해보자
#     - 예상 점수 : 유사도 * (상대방의) 평점
#     ex) '강감찬'이 안본 영화중 'A'영화를
#     다른 사람들은 각각 4, 3, 2점 평점 줬다고 가정.
#     유사도를 구해보니 0.9, 0.3, 0.7로 나왔다면,
#     0.9*4점 => 3.6점 예상
#     0.3*3점 => 0.9점 예상
#     0.7*2점 => 1.4점 예상
#     예상점수 총합 = 5.9점(예상점수합)/1.9점(유사도합)
#     =>약 3점 예상됨
#     ...
#     만약 A영화 3점, B영화 2점, C영화 4점으로 예상됐다면
#     강감찬에게 'C'영화를 추천

# 2. 캐글 영화(음악) 데이터에 위 추천시스템 적용

In [1]:
# day16_realQuiz
import numpy as np
import pandas as pd
critics = {
    '조용필': {
        '택시운전사': 2.5,
        '겨울왕국': 3.5,
        '리빙라스베가스': 3.0,
        '넘버3': 3.5,
        '사랑과전쟁': 2.5,
        '세계대전': 3.0,
    },
    'BTS': {
        '택시운전사': 1.0,
        '겨울왕국': 4.5,
        '리빙라스베가스': 0.5,
        '넘버3': 1.5,
        '사랑과전쟁': 4.5,
        '세계대전': 5.0,
    },
    '강감찬': {
        '택시운전사': 3.0,
        '겨울왕국': 3.5,
        '리빙라스베가스': 1.5,
        '넘버3': 5.0,
        '세계대전': 3.0,
        '사랑과전쟁': 3.5,
    },
    '을지문덕': {
        '택시운전사': 2.5,
        '겨울왕국': 3.0,
        '넘버3': 3.5,
        '세계대전': 4.0,
    },
    '김유신': {
        '겨울왕국': 3.5,
        '리빙라스베가스': 3.0,
        '세계대전': 4.5,
        '넘버3': 4.0,
        '사랑과전쟁': 2.5,
    },
    '유성룡': {
        '택시운전사': 3.0,
        '겨울왕국': 4.0,
        '리빙라스베가스': 2.0,
        '넘버3': 3.0,
        '세계대전': 3.5,
        '사랑과전쟁': 2.0,
    },
    '이황': {
        '택시운전사': 3.0,
        '겨울왕국': 4.0,
        '세계대전': 3.0,
        '넘버3': 5.0,
        '사랑과전쟁': 3.5,
    },
    '이이': {'겨울왕국': 4.5, '사랑과전쟁': 1.0,
             '넘버3': 4.0},
}

In [4]:
# 두사람 사이 상관계수 계산
def similar(data,user1,user2):
    list1=[]
    list2=[]
    pearson=None
    
    for movie_name in data[user1]:
        if movie_name in data[user2]:
            user1_movie_score = data[user1][movie_name]
            user2_movie_score = data[user2][movie_name]
            list1.append(user1_movie_score)
            list2.append(user2_movie_score)
    n = len(list1)
    
    list1=np.array(list1)
    list2=np.array(list2)
    
    X=list1-np.mean(list1)
    std_X=np.std(list1)
    Y=list2-np.mean(list2)
    std_Y=np.std(list2)
    
    inner=X@Y.T/(n)
    pearson=inner/(std_X*std_Y)
    return pearson
similar(critics,'BTS',"이황")

-0.2844627935584563

In [6]:
# 상관계수 구하기
def corr(data):
    df=pd.DataFrame()
    corr_dict={}
    for user in data:
        sim_value=[]
        for refer_user in data:
            sim_value.append(similar(data,user,refer_user))
        corr_dict[user]=sim_value
    result=pd.DataFrame(corr_dict,index=corr_dict.keys())
    return result
corr(critics)

,조용필,BTS,강감찬,을지문덕,김유신,유성룡,이황,이이
조용필,1.000000,0.054772,0.396059,0.404520,0.566947,0.558291,0.747018,0.991241
BTS,0.054772,1.000000,0.216930,0.569210,0.154303,0.417911,-0.284463,-0.381246
강감찬,0.396059,0.216930,1.000000,0.204598,0.314970,0.359313,0.963796,0.381246
을지문덕,0.404520,0.569210,0.204598,1.000000,1.000000,0.134840,0.134840,-1.000000
김유신,0.566947,0.154303,0.314970,1.000000,1.000000,0.707107,0.028571,0.893405
유성룡,0.558291,0.417911,0.359313,0.134840,0.707107,1.000000,0.060437,0.924473
이황,0.747018,-0.284463,0.963796,0.134840,0.028571,0.060437,1.000000,0.662849
이이,0.991241,-0.381246,0.381246,-1.000000,0.893405,0.924473,0.662849,1.000000

In [7]:
# 평점
df_critics=pd.DataFrame(critics)
df_critics=df_critics.T
df_critics

      겨울왕국  넘버3  리빙라스베가스  사랑과전쟁  세계대전  택시운전사
조용필    3.5  3.5      3.0    2.5   3.0    2.5
BTS    4.5  1.5      0.5    4.5   5.0    1.0
강감찬    3.5  5.0      1.5    3.5   3.0    3.0
을지문덕   3.0  3.5      NaN    NaN   4.0    2.5
김유신    3.5  4.0      3.0    2.5   4.5    NaN
유성룡    4.0  3.0      2.0    2.0   3.5    3.0
이황     4.0  5.0      NaN    3.5   3.0    3.0
이이     4.5  4.0      NaN    1.0   NaN    NaN

In [8]:
# 유사도
df_corr=corr(critics)
df_corr

,조용필,BTS,강감찬,을지문덕,김유신,유성룡,이황,이이
조용필,1.000000,0.054772,0.396059,0.404520,0.566947,0.558291,0.747018,0.991241
BTS,0.054772,1.000000,0.216930,0.569210,0.154303,0.417911,-0.284463,-0.381246
강감찬,0.396059,0.216930,1.000000,0.204598,0.314970,0.359313,0.963796,0.381246
을지문덕,0.404520,0.569210,0.204598,1.000000,1.000000,0.134840,0.134840,-1.000000
김유신,0.566947,0.154303,0.314970,1.000000,1.000000,0.707107,0.028571,0.893405
유성룡,0.558291,0.417911,0.359313,0.134840,0.707107,1.000000,0.060437,0.924473
이황,0.747018,-0.284463,0.963796,0.134840,0.028571,0.060437,1.000000,0.662849
이이,0.991241,-0.381246,0.381246,-1.000000,0.893405,0.924473,0.662849,1.000000

In [12]:
# 예측할 영화를 본 사람들이 준 평점
def predict_score(user_name, movies, data_score, data_corr):
    predict_dict={}
    for movie_name in movies:
        scores=data_score[data_score[movie_name].isnull()==False][movie_name]
        names=scores.index
        corrs=data_corr[user_name].loc[names]
        predict_dict[movie_name]={'score':np.sum(scores*corrs)/np.sum(corrs)}
    predict_df=pd.DataFrame(predict_dict)
    return predict_df.T.sort_values(by='score',ascending=False)
movies=list(df_critics.columns)
predi=predict_score('을지문덕',movies,df_critics,df_corr)
predi

            score
사랑과전쟁    4.509960
세계대전     4.074777
넘버3      3.215408
겨울왕국     3.174858
택시운전사    2.248091
리빙라스베가스  2.193849

In [21]:
# 안본 영화 추천
def recommend(users, movies, df_critics, df_corr):
    rec_list=[]
    for user_name in users:
        not_yet=df_critics.T[df_critics.T[user_name].isnull()][user_name].index
        predict_df=predict_score(user_name, movies, df_critics, df_corr)
        if len(predict_df.loc[not_yet])!=0:
            rec_list.append((user_name, predict_df.loc[not_yet]))
    return rec_list

users=list(df_critics.index)

recommend_result = recommend(users, movies, df_critics, df_corr)
for obj, rec in recommend_result:
  print(obj, "님에게 추천하는 영화")
  print(rec.sort_values(by='score', ascending = False))
  print('-'*80)

을지문덕 님에게 추천하는 영화
            score
사랑과전쟁    4.509960
리빙라스베가스  2.193849
--------------------------------------------------------------------------------
김유신 님에게 추천하는 영화
          score
택시운전사  2.606017
--------------------------------------------------------------------------------
이황 님에게 추천하는 영화
            score
리빙라스베가스  2.475389
--------------------------------------------------------------------------------
이이 님에게 추천하는 영화
            score
택시운전사    3.485804
세계대전     3.016121
리빙라스베가스  2.806620
--------------------------------------------------------------------------------