In [1]:
# [Scikitlearn을 활용한 머신러닝]
# 코딩 문제는 하단에 기술했습니다.
# 빅데이터 딥러닝 - 차호진

# # 1. 위 문장을 모두 수행한 후, 아래와 같은 요구사항을 구현하시오.
# # 1) tips의 'sex‘ 컬럼의 타입을 문자열로 변환한 다음, info함수를 호출하여 결과를 확인하시오.
# # 2) tips의 1,3,5,7번 index행에 저장된 tip 컬럼의 값을 모두 ‘missing'으로 변경하시오

# # 3) scikitlearn에 있는 preprocessing 모듈중 표준화 및 정규화와 관련된 함수를 모두 기술하시오
# 표준화) StandardScaler().fit_transform()
# 정규화) from sklearn.preprocessing import normalize

# ## 2. 표준화와 정규화의 차이점을 설명하시오.
# # 1. 표준화(standardization)
# 각 observation이 평균을 기준으로 어느 정도 떨어져 있는지를 나타낼때 사용된다. 
# 값의 스케일이 다른 두 개의 변수가 있을 때, 
# 이 변수들의 스케일 차이를 제거해 주는 효과가 있다. 
# 제로 평균 으로부터 각 값들의 분산을 나타낸다. 
# 각 요소의 값에서 평균을 뺀 다음 표준편차로 나누어 준다.

# # 2. 정규화(normalization)
# 정규화는 데이터의 범위를 0과 1로 변환하여 데이터 분포를 조정하는 방법이다. 
# (해당 값- 최소값) / (최대값-최소값) 을 해주면 된다.

# # 3. 데이터 분석을 위해 필요로 하는 라이브러리 및 용도를 기술하시오.
# pandas 
# Pandas는 파이썬에서 사용하는 데이터분석 라이브러리로, 
# 행과 열로 이루어진 데이터 객체를 만들어 다룰 수 있게 되며 
# 보다 안정적으로 대용량의 데이터들을 처리하는데 매우 편리한 도구.

# ## [Azure 머신러닝을 활용한 기계학습]
# # 1. 분산과 공분산의 차이점을 설명하시오.
# 공분산이라 하면 분산과는 다르게
# 하나의 변수가 아닌 두 변수 사이의 관계를 나타낸다

# # 2. gapminder = pd.read_csv('../data/gapminder.tsv', sep='\t') 
# 위 코드를 수행한 후, 
# gapmider 변수에 저장된 컬럼 중 'year' 컬럼을 기준으로 'lifeExp' 컬럼값에 대한 평균을 구하고자 한다.
# 코드를 기술하시오.

# # 3. 머신러닝 학습 방법의 종류에 대해 나열하고, 설명하시오
# 지도학습) 
# 학습데이터를 이용해 데이터를 해석할수 있는 모델만들고 이를 바탕으로 
# 새로운 데이터를 추정함 // 양질의 다량의 학습데이터 준비필요
# 비지도학습(자율학습)) 
# 마치 학생스스로 학습하는것처럼 학습데이터 속의 
# 패턴이나 숨은 중요 핵심 컨셉을 찾아서 학습하는것
# ex) 과일이름에 따른분류라기보다 특징에 따라 분류하는 접근
# 강화학습) 
# 경우의 수가 너무많아 옳고 그른것에 대해 사전에 명확히 기술하기 어려운경우 적합
# ex) 알파고, 자율주행, 전략시뮬레이션, 상황에따라 다양한 대응가능한
# 응용에 적합한 방법

# # 4. 그룹화와 관련된 함수 및 형식을 기술하시오.
# group by(기준이 될 열(series))
# 기준열을 지정하여 특정열을 그룹별로 나누고,
# 각 그룹에 통계함수 적용하고,
# 최종 통계량이 산출된것은 통합하여 표시

In [17]:
import pandas as pd
import seaborn as sns
tips = sns.load_dataset("tips") 

# # 1-1) tips의 'sex‘ 컬럼의 타입을 문자열로 변환한 다음, 
# info함수를 호출하여 결과를 확인하시오.

In [18]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [19]:
tips['sex_str']=tips['sex'].astype(str)
tips['sex_str']

0      Female
1        Male
2        Male
3        Male
4      Female
5        Male
6        Male
7        Male
8        Male
9        Male
10       Male
11     Female
12       Male
13       Male
14     Female
15       Male
16     Female
17       Male
18     Female
19       Male
20       Male
21     Female
22     Female
23       Male
24       Male
25       Male
26       Male
27       Male
28       Male
29     Female
        ...
214    Female
215    Female
216      Male
217      Male
218      Male
219    Female
220      Male
221    Female
222      Male
223    Female
224      Male
225    Female
226    Female
227      Male
228      Male
229    Female
230      Male
231      Male
232      Male
233      Male
234      Male
235      Male
236      Male
237      Male
238    Female
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex_str, Length: 244, dtype: object

In [20]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
sex_str       244 non-null object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.1+ KB

In [21]:
# 1-2) tips의 1,3,5,7번 index행에 저장된 
# tip 컬럼의 값을 모두 ‘missing'으로 변경하시오

In [22]:
tips_miss=tips.head(10)
tips_miss.loc[[1,3,5,7],'tip']='missing'
tips_miss

   total_bill      tip     sex smoker  day    time  size sex_str
0       16.99     1.01  Female     No  Sun  Dinner     2  Female
1       10.34  missing    Male     No  Sun  Dinner     3    Male
2       21.01      3.5    Male     No  Sun  Dinner     3    Male
3       23.68  missing    Male     No  Sun  Dinner     2    Male
4       24.59     3.61  Female     No  Sun  Dinner     4  Female
5       25.29  missing    Male     No  Sun  Dinner     4    Male
6        8.77        2    Male     No  Sun  Dinner     2    Male
7       26.88  missing    Male     No  Sun  Dinner     4    Male
8       15.04     1.96    Male     No  Sun  Dinner     2    Male
9       14.78     3.23    Male     No  Sun  Dinner     2    Male

In [23]:
# ## [Azure 머신러닝을 활용한 기계학습]
# # 2. gapminder = pd.read_csv('../data/gapminder.tsv', sep='\t') 위 코드를 수행한 후, 
# gapmider 변수에 저장된 컬럼 중 'year' 컬럼을 기준으로 'lifeExp' 컬럼값에 대한
# 평균을 구하고자 한다.코드를 기술하시오.

In [24]:
gapminder = pd.read_csv('data/gapminder.tsv', sep='\t') 
gapminder

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
1     Afghanistan      Asia  1957   30.332   9240934   820.853030
2     Afghanistan      Asia  1962   31.997  10267083   853.100710
3     Afghanistan      Asia  1967   34.020  11537966   836.197138
4     Afghanistan      Asia  1972   36.088  13079460   739.981106
5     Afghanistan      Asia  1977   38.438  14880372   786.113360
6     Afghanistan      Asia  1982   39.854  12881816   978.011439
7     Afghanistan      Asia  1987   40.822  13867957   852.395945
8     Afghanistan      Asia  1992   41.674  16317921   649.341395
9     Afghanistan      Asia  1997   41.763  22227415   635.341351
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
11    Afghanistan      Asia  2007   43.828  31889923   974.580338
12        Albania    Europe  1952   55.230   1282697  1601.056136
13        Albania    Europe  1957   59.280   1476505  1942.284244
14        Albania    Europe  1962   64.820   1728137  2312.888958
15        Albania    Europe  1967   66.220   1984060  2760.196931
16        Albania    Europe  1972   67.690   2263554  3313.422188
17        Albania    Europe  1977   68.930   2509048  3533.003910
18        Albania    Europe  1982   70.420   2780097  3630.880722
19        Albania    Europe  1987   72.000   3075321  3738.932735
20        Albania    Europe  1992   71.581   3326498  2497.437901
21        Albania    Europe  1997   72.950   3428038  3193.054604
22        Albania    Europe  2002   75.651   3508512  4604.211737
23        Albania    Europe  2007   76.423   3600523  5937.029526
24        Algeria    Africa  1952   43.077   9279525  2449.008185
25        Algeria    Africa  1957   45.685  10270856  3013.976023
26        Algeria    Africa  1962   48.303  11000948  2550.816880
27        Algeria    Africa  1967   51.407  12760499  3246.991771
28        Algeria    Africa  1972   54.518  14760787  4182.663766
29        Algeria    Africa  1977   58.014  17152804  4910.416756
...           ...       ...   ...      ...       ...          ...
1674  Yemen, Rep.      Asia  1982   49.113   9657618  1977.557010
1675  Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1997   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827
1679  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906
1680       Zambia    Africa  1952   42.038   2672000  1147.388831
1681       Zambia    Africa  1957   44.077   3016000  1311.956766
1682       Zambia    Africa  1962   46.023   3421000  1452.725766
1683       Zambia    Africa  1967   47.768   3900000  1777.077318
1684       Zambia    Africa  1972   50.107   4506497  1773.498265
1685       Zambia    Africa  1977   51.386   5216550  1588.688299
1686       Zambia    Africa  1982   51.821   6100407  1408.678565
1687       Zambia    Africa  1987   50.821   7272406  1213.315116
1688       Zambia    Africa  1992   46.100   8381163  1210.884633
1689       Zambia    Africa  1997   40.238   9417789  1071.353818
1690       Zambia    Africa  2002   39.193  10595811  1071.613938
1691       Zambia    Africa  2007   42.384  11746035  1271.211593
1692     Zimbabwe    Africa  1952   48.451   3080907   406.884115
1693     Zimbabwe    Africa  1957   50.469   3646340   518.764268
1694     Zimbabwe    Africa  1962   52.358   4277736   527.272182
1695     Zimbabwe    Africa  1967   53.995   4995432   569.795071
1696     Zimbabwe    Africa  1972   55.635   5861135   799.362176
1697     Zimbabwe    Africa  1977   57.674   6642107   685.587682
1698     Zimbabwe    Africa  1982   60.363   7636524   788.855041
1699     Zimbabwe    Africa  1987   62.351   9216418   706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340   693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948   792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563   672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143   469.709298

[1704 rows x 6 columns]

In [25]:
gapminder.groupby('year').lifeExp.mean()
# gapminder.year.unique()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64